<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title>RAST</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div >
    <form [formGroup]="prepForm">
      <ion-card *ngFor="let question of questions">
        <ion-card-header>
          <ion-card-title>{{ question.label }}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>

            <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text" formControlName="{{ question.concept }}"></ion-input>
          

          <input class="custom-input" *ngIf="question.type === 'date'" type="date" formControlName="{{ question.concept }}" />

          <ion-list *ngIf="question.type === 'checkbox'">
            <ion-item lines = 'none' *ngFor="let option of question.options">
              <ion-checkbox slot="start" [value]="option.value" (ionChange)="onCheckboxChange($event, question.concept)"></ion-checkbox>
              <ion-label>{{ option.label }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-button class="right-button" type="submit" (click)="submitForm()">Submit</ion-button>
    </form>
  </div>
  
 
</ion-content>
