<ion-header>
  <ion-toolbar color="primary">
    <ion-title>PreP Rapid Assessment Tool (RAST)</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="prepForm" (ngSubmit)="submitForm()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>RAST</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <div formArrayName="responses">
          <div *ngFor="let question of questions; let i = index" class="question-container">

            <ion-card>
              <ion-card-content>
                <div *ngIf="question.type === 'dropdown'">
                  <label>{{ question.label }}</label>
                  <select [formControlName]="i" class="form-control">
                    <option *ngFor="let option of question.options" [value]="option.value">
                      {{ option.label }}
                    </option>
                  </select>
                </div>
                <div *ngIf="question.type === 'date'">
                  <label>{{ question.label }}</label>
                  <input type="date" [formControlName]="i" class="form-control" />
                </div>
                <div *ngIf="question.type === 'text'">
                  <label>{{ question.label }}</label>
                  <input type="text" [formControlName]="i" class="form-control" />
                </div>
                <div *ngIf="question.type === 'textarea'">
                  <label>{{ question.label }}</label>
                  <textarea [formControlName]="i" class="form-control"></textarea>
                </div>
                <div *ngIf="question.type === 'radio'">
                  <label>{{ question.label }}</label>
                  <ion-radio-group [formControlName]="i" class="square-radio-group">
                    <ion-item lines="none" *ngFor="let option of question.options" class="square-radio-item">
                      <ion-radio slot="start" [value]="option.value" class="square-radio"></ion-radio>
                      <ion-label>{{ option.label }}</ion-label>
                    </ion-item>
                  </ion-radio-group>
                </div>
                <div *ngIf="!question.type">
                  <p>Unsupported question type</p>
                </div>
              </ion-card-content>
            </ion-card>

          </div>
        </div>
      </ion-card-content>
    </ion-card>

    <button type="submit" [disabled]="prepForm.invalid" class="btn btn-primary mt-3">
      Submit
    </button>
  </form>
</ion-content>