.header-container {
  text-align: center;
  margin-bottom: 10px;
}

.form-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #1d434e;
}

.service-list-card {
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  font-size: 1.0rem;
  font-weight: 600;
  color: #333;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small-card {
  border-radius: 8px;
  padding: 10px;
  background: #f8f9fa;
  transition: 0.3s ease-in-out;
}

.small-card:hover {
  background: #e0f7fa;
  transform: scale(1.02);
}

.card-content {
  font-size: 0.9rem;
  color: #555;
}

.intervention-date {
  font-size: 1rem;
  font-weight: 500;
  color: #444;
}
