<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homy"></ion-back-button>
    </ion-buttons>
    <ion-title>Service Uptake</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Search Bar -->
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Search By DREAMS ID OR AGYW Name</ion-label>
        <ion-input [(ngModel)]="searchQuery" (ngModelChange)="searchPatients()"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Loading Spinner -->
  <div class="loading-container" *ngIf="loading">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ion-card *ngFor="let patient of patientSearchResults" (click)="viewPatient(patient)">
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/girl.png" alt="Patient">
      </ion-avatar>
      <ion-label>
        <h2>{{ patient.name }}</h2>
        <p><strong>Dreams ID:</strong> {{ patient.dreamsId }}</p>
        <p><strong>Date of Birth:</strong> {{ patient.dob }} ({{ getAge(patient.dob) }} Years)</p>
      </ion-label>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon> 
    </ion-item>
  </ion-card>
  
  <!-- No Results Message -->
  <ion-card *ngIf="noResults">
    <ion-item>
      <ion-label class="ion-text-center">
        <h2>{{ searchQuery }}</h2>
        <p><strong>Status:</strong> Not Enrolled</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
