<ion-content class="ion-padding non-scrollable">
  <div class="logo-container">
    <img src="assets/logo.jpg" alt="App Logo" class="logo" />
    <div class="kenya-emr-text">KenyaEMR</div>
  </div>

  <form class="login-container" (ngSubmit)="login()">
    <div class="input-wrapper">
      <ion-icon name="person-outline" class="input-icon"></ion-icon>
      <ion-input 
        type="text" 
        placeholder="username" 
        [(ngModel)]="username" 
        name="username" 
        class="input-field" 
        required
      ></ion-input>
    </div>

    <div class="input-wrapper">
      <ion-icon name="lock-closed-outline" class="input-icon"></ion-icon>
      <ion-input 
        type="password" 
        placeholder="password" 
        [(ngModel)]="password" 
        name="password" 
        class="input-field" 
        required
      ></ion-input>
    </div>

    <ion-button expand="block" class="login-button" type="submit" [disabled]="!username || !password || loading">
      LOGIN
    </ion-button>
    
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  </form>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  
</ion-content>

<ion-footer class="ion-no-border">
  <div class="dreams-footer">
    <span class="word-box" style="background-color: #e7b556;">Determined</span>
    <span class="word-box" style="background-color: #8a4654;">Resilient</span>
    <span class="word-box" style="background-color: #bc5846;">Empowered</span>
    <span class="word-box" style="background-color: #766f99;">AIDS-free</span>
    <span class="word-box" style="background-color: #6c3f62;">Mentored</span>
    <span class="word-box" style="background-color: #8a4654;">Safe</span>
  </div>
</ion-footer>
