<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/homy"></ion-back-button>
    </ion-buttons>
    <ion-title>Service Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="presentActionSheet()">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/girl.png" alt="Profile Picture" />
      </ion-avatar>
      <ion-label>
        <p><strong>AGYW Name:</strong> {{ getPatientName() }}</p>
        <p><strong>DREAMS ID:</strong> {{ getDreamsId() }}</p>
        <p *ngIf="birthDate">
          <strong>DATE OF BIRTH:</strong> {{ formatDate(birthDate) }} ({{ age }} years)
        </p>
        <p *ngIf="!birthDate">
          <strong>DATE OF BIRTH:</strong> N/A
        </p>
      </ion-label>

      <ion-button 
      (click)="presentActionSheet()" 
            slot="end" >
            Check Out
          </ion-button>
    </ion-item>
  </ion-card>

  <div style="width: 100%; overflow-x: auto;">
    <ion-segment mode="md" [(ngModel)]="selectedSegment" (ionChange)="onSegmentChanged($event)" scrollable>
      <ion-segment-button value="service-uptake">
        <ion-label>Service uptake</ion-label>
      </ion-segment-button>
      <ion-segment-button value="application-forms">
        <ion-label>Application forms</ion-label>
      </ion-segment-button>
      <ion-segment-button value="additional-services">
        <ion-label>Additional services</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enrolle">
        <ion-label>Enrolment details</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>


  <ion-list *ngIf="selectedSegment === 'service-uptake'">
    <!-- Behavioural Services -->
    <ion-card>
      <ion-item button (click)="goToPage('behavioural')">
        <ion-icon name="basket-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Behavioural Services</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
    

    <ion-card>
      <ion-item button (click)="goToPage('bio-medical')">
        <ion-icon name="flask-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Bio-medical Services</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
    
    <ion-card>
      <ion-item button (click)="goToPage('post-violence')">
        <ion-icon name="hand-left-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Post-Violence Care Services</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPage('social-protection')">
        <ion-icon name="shield-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Social Protection Services</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPage('other')">
        <ion-icon name="people-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Other Services</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>

  <ion-list *ngIf="selectedSegment === 'application-forms'">
    <ion-card>
      <ion-item button (click)="goToPages('enrollment-form','ef61cfb8-7dfe-46d7-94f0-8c50ecbbb0be','c34c69a1-5383-46b3-a0e7-b43d06c55706')">
        <ion-icon name="school-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Education Subsidies Application Form</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPages('hts-eligibility','09f6baa6-4f6c-4ba6-b560-6a0ab9310d1d','de556fe5-9dea-4187-bd6f-1e15b43e2ca3')">
      <ion-icon name="clipboard-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Male Sexual Partner Characterization</ion-label>
      <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
    </ion-item>
  </ion-card>


    <ion-card>
      <ion-item button (click)="goToPages('home-visit','550f00d0-72f0-4df4-8cee-5024885caf5a','f19d7337-5c39-4928-a27e-d6ea50545312')">
        <ion-icon name="home-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Education Support: Home Visit</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPages('prep-rast','68f03464-e4cf-4336-b264-e3d43f1f123c','6e5ec039-8d2a-4172-b3fb-ee9d0ba647b7')">
        <ion-icon name="pulse-outline" slot="start" color="primary"></ion-icon>
        <ion-label>PreP Rapid Assessment Tool (RAST)</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPages('violence-screening','f19d7337-5c39-4928-a27e-d6ea50545312','550f00d0-72f0-4df4-8cee-5024885caf5a')">
        <ion-icon name="shield-checkmark-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Violence Screening and Service Summary Form</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPages('business-follow-up','75f5df09-3b34-4c54-9350-610bf27fad40','4e0a7874-8c4f-4432-8365-6c14059037c3')">
        <ion-icon name="briefcase-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Business Start-up - Follow-up Tool</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPages('agyw-graduation','9307271b-fdac-4399-a4c6-cc3e049fd1c1','02c4f927-7149-4235-859a-f2fa20fcf715')">
        <ion-icon name="trophy-outline" slot="start" color="primary"></ion-icon>
        <ion-label>AGYW Graduation Scorecard</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPages('sti-screening','a0e0578c-c28c-4cbb-a8cd-d9ffcafb5825','a019b9af-90ea-4565-af43-2faa8ff6b0fd')">
        <ion-icon name="medkit-outline" slot="start" color="primary"></ion-icon>
        <ion-label>STI Screening Tool</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card>
      <ion-item button (click)="goToPages('business-assessment','d81a8a5e-43c2-4a9b-b276-34f8a91db02f','d218dace-3e79-47b2-8620-512a4d2771b1')">
        <ion-icon name="stats-chart-outline" slot="start" color="primary"></ion-icon>
        <ion-label>Business Start-up Assessment & Rating Tool</ion-label>
        <ion-icon name="chevron-forward-outline" slot="end" color="primary"></ion-icon>
      </ion-item>
    </ion-card>
  </ion-list>


  <!-- Additional Services Content -->
  <ion-list *ngIf="selectedSegment === 'additional-services'">
    <ion-item>
      <ion-label>Additional Services Content Here</ion-label>
    </ion-item>
  </ion-list>

  <!-- Enrolle Content -->
  <ion-list *ngIf="selectedSegment === 'enrollement'">
    <ion-item>
      <ion-label>Enrollement Content Here</ion-label>
    </ion-item>
  </ion-list>