<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title>STI Screening Tool</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div *ngIf="currentStep === 1">
    <form [formGroup]="stiForm">
      <ion-card *ngFor="let question of questions">
        <ion-card-header>
          <ion-card-title>{{ question.label }}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <div *ngIf="question.type === 'number'">
            <label>{{ question.label }}</label>
          </div>
          <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text" formControlName="{{ question.concept }}"></ion-input>

          <input class="custom-input" *ngIf="question.type === 'date'" type="date" formControlName="{{ question.concept }}" />

          <ion-list *ngIf="question.type === 'checkbox'">
            <ion-item lines="none" *ngFor="let option of question.options">
              <ion-checkbox slot="start" [value]="option.value" (ionChange)="onCheckboxChange($event, question.concept)"></ion-checkbox>
              <ion-label>{{ option.label }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-button class="left-button" (click)="nextStep()">Next</ion-button>
    </form>
  </div>
  
  <div *ngIf="currentStep === 2">
    <form [formGroup]="secondFormGroup">
      <ion-card *ngFor="let question of secondSection">
        <ion-card-header>
          <ion-card-title>{{ question.label }}</ion-card-title>
        </ion-card-header>
        
        <ion-card-content>
          <div *ngIf="question.type === 'number'">
            <label>{{ question.label }}</label>
          </div>
          <input class="custom-input" *ngIf="question.type === 'date'" type="date" formControlName="{{ question.concept }}" />

          <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text" formControlName="{{ question.concept }}"></ion-input>

          <ion-select *ngIf="question.type === 'dropdown'" formControlName="{{ question.concept }}">
            <ion-select-option *ngFor="let option of question.options" [value]="option.value">
              {{ option.label }}
            </ion-select-option>
          </ion-select>

          <ion-list *ngIf="question.type === 'checkbox'">
            <ion-item lines="none" *ngFor="let option of question.options">
              <ion-checkbox slot="start" [value]="option.value" (ionChange)="onCheckboxChange($event, question.concept)"></ion-checkbox>
              <ion-label>{{ option.label }}</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <div class="button-container">
        <ion-button class="left-button" (click)="previousStep()">Back</ion-button>
        <ion-button class="right-button" type="submit" (click)="submitForm()">Submit</ion-button>
      </div>
      

    </form>
  </div>
 
</ion-content>
