<!-- <ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title>Male Sexual Partner Characterization</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div *ngIf="currentStep === 1">
    <form [formGroup]="maleForm">
      <ion-card *ngFor="let question of questions">
        <ion-card-header>
          <ion-card-title>{{ question.label }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>

          <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text"
            formControlName="{{ question.concept }}"></ion-input>


          <input class="custom-input" *ngIf="question.type === 'date'" type="date"
            formControlName="{{ question.concept }}" />
          <ion-list *ngIf="question.type === 'checkbox'">
            <ion-item lines="none" *ngFor="let option of question.options">
              <ion-checkbox slot="start" [checked]="maleForm.get(question.concept)?.value?.includes(option.value)"
                (ionChange)="onCheckboxChange($event, question.concept, option.value)">
              </ion-checkbox>
              <ion-label>{{ option.label }}</ion-label>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="question.type === 'radio'">
            <ion-radio-group formControlName="{{ question.concept }}">
              <ion-item lines="none" *ngFor="let option of question.options">
                <ion-radio slot="start" [value]="option.value"></ion-radio>
                <ion-label>{{ option.label }}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>

      <ion-button class="left-button" (click)="nextStep()">Next</ion-button>
    </form>
  </div>

  <div *ngIf="currentStep === 2">
    <form [formGroup]="secondFormGroup">
      <ion-card *ngFor="let question of secondSection">
        <ion-card-header>
          <ion-card-title>{{ question.label }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <input class="custom-input" *ngIf="question.type === 'date'" type="date"
            formControlName="{{ question.concept }}" />

          <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text"
            formControlName="{{ question.concept }}"></ion-input>

        

          <ion-list *ngIf="question.type === 'radio'">
            <ion-radio-group formControlName="{{ question.concept }}">
              <ion-item lines="none" *ngFor="let option of question.options">
                <ion-radio slot="start" [value]="option.value"></ion-radio>
                <ion-label>{{ option.label }}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <div class="button-container">
        <ion-button class="left-button" (click)="previousStep()">Back</ion-button>
        <ion-button class="right-button" (click)="nextStep()">Next</ion-button>
      </div>


    </form>
  </div>
  <div *ngIf="currentStep === 3">
    <form [formGroup]="thirdFormGroup">
      <ion-card *ngFor="let question of thirdSection">
        <ion-card-header>
          <ion-card-title>{{ question.label }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <input class="custom-input" *ngIf="question.type === 'date'" type="date"
            formControlName="{{ question.concept }}" />

          <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text"
            formControlName="{{ question.concept }}"></ion-input>


          <ion-list *ngIf="question.type === 'radio' && question.options">
            <ion-radio-group formControlName="{{ question.concept }}">
              <ion-item lines="none" *ngFor="let option of question.options">
                <ion-radio slot="start" [value]="option.value"></ion-radio>
                <ion-label>{{ option.label }}</ion-label>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        </ion-card-content>
      </ion-card>
      <div class="button-container">
        <ion-button class="left-button" (click)="previousStep()">Back</ion-button>
        <ion-button class="right-button" type="submit" (click)="submitForm()">Submit</ion-button>
      </div>

    </form>
  </div>
</ion-content> -->