<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card class="greeting-card">
    <ion-card-content>
      <h1 class="greeting-title">{{ greeting }}</h1>
      <p class="date">📅 {{ currentDate }}</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="search-card">
    <ion-card-header>
      <ion-card-title class="search">Search for Patient</ion-card-title>
    </ion-card-header>
    
    <ion-card-content class="patient">
      <ion-item>
        <ion-label position="floating">Enter Patient Name or ID</ion-label>
        <ion-input [(ngModel)]="patientQuery" placeholder=""></ion-input>
      </ion-item>
      <ion-button *ngIf="!loading" expand="full" color="primary" (click)="searchPatients(patientQuery)" class="search-button">
        Search
      </ion-button>
      <ion-spinner *ngIf="loading" name="crescent" class="spinner"></ion-spinner>
      
      <ion-list class="patient-list">
        <ion-item *ngFor="let patient of patientSearchResults">
          <ion-label>
            <h2>{{ patient.display }}</h2> 
            <p>{{ patient.uuid }}</p> 
          </ion-label>
         <ion-button 
  (click)="checkIn(patient.uuid, patient.display)" 
  slot="end"
  [disabled]="patient.hasActiveVisit">
  Check In
</ion-button>

        </ion-item>
      </ion-list>
      <p *ngIf="noResults" class="no-results-message">No results match.</p>
      <ion-button *ngIf="noResults" expand="full"(click)="goToRegistration()">Go to Registration</ion-button>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="visits.length > 0; else noVisits" class="search-card">
    <ion-card-header>
      <ion-card-title class="search">Active Visits</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label>Filter by Location</ion-label>
      <ion-select [(ngModel)]="selectedLocationId" (ionChange)="onLocationChange($event)">
        <ion-select-option *ngFor="let location of locations" [value]="location.uuid">
          {{ location.name }}
        </ion-select-option>
      </ion-select>      
    </ion-item>
    <ion-card-content>
      <div class="table-container">
        <table class="visit-table">
          <thead>
            <tr>
              <th>Visit Time</th>
              <th>Patient Name</th>
              <th>Patient ID</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Visit Type</th>
              <th>End Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visit of visits">
              <td>{{ visit.startDatetime | date:'short' }}</td>
              <td>{{ visit.patient.person.display }}</td>
              <td>{{ visit.patient.identifiers[0]?.identifier || 'N/A' }}</td>
              <td>{{ visit.patient.person.age }}</td>
              <td>{{ visit.patient.person.gender }}</td>
              <td>{{ visit.visitType.display }}</td>
              <td>{{ visit.stopDatetime ? (visit.stopDatetime | date:'short') : 'Ongoing' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </ion-card-content>
  </ion-card>
  
 <ng-template #noVisits>
    <ion-card class="search-card">
      <ion-card-header>
        <ion-card-title class="search">Active Visits</ion-card-title>
      </ion-card-header>
      <ion-item>
        <ion-label>Filter by Location</ion-label>
        <ion-select [(ngModel)]="selectedLocationId" (ionChange)="onLocationChange($event)">
          <ion-select-option *ngFor="let location of locations" [value]="location.uuid">
            {{ location.name }}
          </ion-select-option>
        </ion-select>      
      </ion-item>
      <ion-card-content>
        <p class="no-visits-message">No active visits for this location.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
  

  <!-- <ion-card class="home-card">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="shield-checkmark" class="icon"></ion-icon>
        Vulnerability Screening
      </ion-card-title>
    </ion-card-header>
    <ion-card-content class="screening-content">
      <div class="screening-left" [routerLink]="['/vulnerability-screening']">
        <h3>Screening Form</h3>
        <p>Assess AGYW eligibility for enrollment/re-enrollment into the DREAMS project</p>
      </div>
      <div class="screening-right" [routerLink]="['/screened-agwy']">
        <h3>Screened AGYW</h3>
        <p>View screened AGYWs both eligible and ineligible</p>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card class="home-card" [routerLink]="['/enrollment']">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="clipboard-outline" class="icon"></ion-icon>
        Enrollment Section
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This section documents baseline information for the Adolescent Girls and Young Women (AGYW) to assist in
        planning for interventions.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="home-card" [routerLink]="['/service-uptake']">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="medkit" class="icon"></ion-icon>
        Service Uptake
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This section enables searching an AGYW with their DREAMS ID and provides forms to offer services to the girl.
        It consists of both service uptake and application forms.</p>
    </ion-card-content>
  </ion-card> -->
</ion-content>
