<ion-header class="header">
  <ion-toolbar class="toolbar">
    <ion-title>Education Subsidies Application Form</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" color="light" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <div *ngIf="currentStep === 1">
    <h2 class="form-heading">Application Details</h2>
    <form [formGroup]="eduForm">
      <ng-container *ngFor="let question of questions">
        <ion-card *ngIf="!question.dependsOn || visibleFields[question.concept]">

          <ion-card-header>
            <ion-card-title>{{ question.label }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text"
              formControlName="{{ question.concept }}"></ion-input>


            <input class="custom-input" *ngIf="question.type === 'date'" type="date"
              formControlName="{{ question.concept }}" />

            <ion-list *ngIf="question.type === 'radio'">
              <ion-radio-group formControlName="{{ question.concept }}">
                <ion-item lines="none" *ngFor="let option of question.options">
                  <ion-radio slot="start" [value]="option.value"></ion-radio>
                  <ion-label>{{ option.label }}</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>

            <ion-list *ngIf="question.type === 'checkbox'">
              <ion-item lines="none" *ngFor="let option of question.options">
                <ion-checkbox slot="start" [checked]="eduForm.get(question.concept)?.value?.includes(option.value)"
                  (ionChange)="onCheckboxChange($event, question.concept, option.value)">
                </ion-checkbox>
                <ion-label>{{ option.label }}</ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <div class="button-container">

      <ion-button class="left-button" (click)="nextStep()">Next</ion-button></div>
    </form>
  </div>

  <div *ngIf="currentStep === 2">
    <h2 class="form-heading">Education Details</h2>
    <form [formGroup]="secondFormGroup">
      <ng-container *ngFor="let question of secondSection">
        <ion-card *ngIf="!question.dependsOn || visibleFields[question.concept]">
          <ion-card-header>
            <ion-card-title>{{ question.label }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <input class="custom-input" *ngIf="question.type === 'date'" type="date"
              formControlName="{{ question.concept }}" />

            <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text"
              formControlName="{{ question.concept }}" />
            <ion-input class="custom-input" *ngIf="question.type === 'number'" type="number"
              formControlName="{{ question.concept }}" />

            <ion-select *ngIf="question.type === 'dropdown'" formControlName="{{ question.concept }}">
              <ion-select-option *ngFor="let option of question.options" [value]="option.value">
                {{ option.label }}
              </ion-select-option>
            </ion-select>

            <ion-list *ngIf="question.type === 'radio'">
              <ion-radio-group formControlName="{{ question.concept }}">
                <ion-item lines="none" *ngFor="let option of question.options">
                  <ion-radio slot="start" [value]="option.value"></ion-radio>
                  <ion-label>{{ option.label }}</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ng-container>

      <div class="button-container">
        <ion-button class="left-button" (click)="previousStep()">Back</ion-button>
        <ion-button class="right-button" (click)="nextStep()">Next</ion-button>
      </div>
    </form>
  </div>

  <div *ngIf="currentStep === 3">
    <h2 class="form-heading">Applicants Household Details</h2>
    <form [formGroup]="thirdFormGroup">
      <ng-container *ngFor="let question of thirdSection">
        <ion-card *ngIf="!question.dependsOn || visibleFields[question.concept]">

          <ion-card-header>
            <ion-card-title>{{ question.label }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <input class="custom-input" *ngIf="question.type === 'date'" type="date"
              formControlName="{{ question.concept }}" />

            <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text"
              formControlName="{{ question.concept }}"></ion-input>
            <ion-input class="custom-input" *ngIf="question.type === 'number'" type="number"
              formControlName="{{ question.concept }}"></ion-input>

            <ion-select *ngIf="question.type === 'dropdown'" formControlName="{{ question.concept }}">
              <ion-select-option *ngFor="let option of question.options" [value]="option.value">
                {{ option.label }}
              </ion-select-option>
            </ion-select>

            <ion-list *ngIf="question.type === 'radio'">
              <ion-radio-group formControlName="{{ question.concept }}">
                <ion-item lines="none" *ngFor="let option of question.options">
                  <ion-radio slot="start" [value]="option.value"></ion-radio>
                  <ion-label>{{ option.label }}</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>


          </ion-card-content>
        </ion-card>
      </ng-container>

      <div class="button-container">
        <ion-button class="left-button" (click)="previousStep()">Back</ion-button>
        <ion-button class="right-button" (click)="nextStep()">Next</ion-button>
      </div>

    </form>
  </div>
  <div *ngIf="currentStep === 4">
    <h2 class="form-heading">Approval Section </h2>
    <form [formGroup]="forthFormGroup">
      <ng-container *ngFor="let question of forthSection">

        <ion-card *ngIf="!question.dependsOn || visibleFields[question.concept]">

          <ion-card-header>
            <ion-card-title>{{ question.label }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <input class="custom-input" *ngIf="question.type === 'date'" type="date"
              formControlName="{{ question.concept }}" />

            <ion-input class="custom-input" *ngIf="question.type === 'text'" type="text"
              formControlName="{{ question.concept }}"></ion-input>

            <ion-input class="custom-input" *ngIf="question.type === 'number'" type="number"
              formControlName="{{ question.concept }}"></ion-input>

            <ion-select *ngIf="question.type === 'dropdown'" formControlName="{{ question.concept }}">
              <ion-select-option *ngFor="let option of question.options" [value]="option.value">
                {{ option.label }}
              </ion-select-option>
            </ion-select>

            <ion-list *ngIf="question.type === 'radio'">
              <ion-radio-group formControlName="{{ question.concept }}">
                <ion-item lines="none" *ngFor="let option of question.options">
                  <ion-radio slot="start" [value]="option.value"></ion-radio>
                  <ion-label>{{ option.label }}</ion-label>
                </ion-item>
              </ion-radio-group>
            </ion-list>
            <ion-list *ngIf="question.type === 'checkbox'">
              <ion-item lines="none" *ngFor="let option of question.options">
                <ion-checkbox slot="start"
                  [checked]="forthFormGroup.get(question.concept)?.value?.includes(option.value) || false"
                  (ionChange)="onCheckboxChange($event, question.concept, option.value)">
                </ion-checkbox>

                <ion-label>{{ option.label }}</ion-label>
              </ion-item>
            </ion-list>

          </ion-card-content>
        </ion-card>
      </ng-container>

      <div class="button-container">
      <ion-button class="left-button" (click)="previousStep()">Back</ion-button>
      <ion-button class="right-button" type="submit" (click)="submitForm()">Submit</ion-button>
    </div>

    </form>
  </div>
</ion-content>