<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Service Form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Main Heading -->
  <div class="header-container">
    <h2 class="form-title">Other Services</h2>
  </div>

  <!-- Service List Card -->
  <ion-card class="service-list-card">
    <ion-card-header>
      <ion-card-title class="card-title">Service List</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="card-container">
        <ion-card *ngFor="let encounter of encounters" class="small-card" (click)="openModal(encounter)">
          <ion-card-header class="card-header">
            <ion-card-title class="card-title">
              {{ getIntervention(encounter.obs) }}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content class="card-content">
            <p class="intervention-date">
              <strong>Intervention Date:</strong> 
              {{ getInterventionDate(encounter.obs) | date:'medium' }}
            </p>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Floating Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="openModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

